---
apiVersion: helm.toolkit.fluxcd.io/v2beta1
kind: HelmRelease
metadata:
  name: odoo
  namespace: antigravity-dev
spec:
  interval: 5m
  chart:
    spec:
      chart: ./kubernetes/helm/odoo
      sourceRef:
        kind: GitRepository
        name: antigravity-odoo
        namespace: flux-system
  dependsOn:
    - name: postgresql
      namespace: antigravity-dev
  values:
    replicaCount: 1
    odoo:
      database:
        password: "dev-odoo-changeme"
      debug:
        enabled: true
