# pgAdmin values
replicaCount: 1

image:
  repository: dpage/pgadmin4
  tag: latest
  pullPolicy: IfNotPresent

pgadmin:
  email: admin@localhost.com

persistence:
  enabled: true
  size: 1Gi

resources:
  requests:
    cpu: 100m
    memory: 256Mi
  limits:
    cpu: 500m
    memory: 1Gi

service:
  type: LoadBalancer
  port: 80

nodeSelector: {}
tolerations: []
