apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "odoo.fullname" . }}-config
  labels:
    {{- include "odoo.labels" . | nindent 4 }}
data:
  odoo.conf: |
    [options]
    addons_path = /mnt/extra-addons
    data_dir = /var/lib/odoo
    admin_passwd = admin
    db_host = {{ .Values.odoo.database.host }}
    db_port = {{ .Values.odoo.database.port }}
    db_user = {{ .Values.odoo.database.user }}
    db_password = ${PASSWORD}
    db_name = {{ .Values.odoo.database.name }}
