{{- if not .Values.existingSecret }}
{{- if not .Values.odoo.database.passwordSecretRef }}
{{- if not .Values.odoo.database.password }}
{{- fail "ERROR: Database password must be provided! Use one of: 1) Set .Values.odoo.database.password, 2) Set .Values.odoo.database.passwordSecretRef, or 3) Set .Values.existingSecret. See values.yaml for details." }}
{{- end }}
apiVersion: v1
kind: Secret
metadata:
  name: {{ include "odoo.fullname" . }}-db-credentials
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "odoo.labels" . | nindent 4 }}
type: Opaque
stringData:
  db-password: {{ .Values.odoo.database.password | quote }}
  db-user: {{ .Values.odoo.database.user | default "odoo_user" | quote }}
{{- end }}
{{- end }}
