apiVersion: v1
kind: Service
metadata:
  name: {{ include "odoo.fullname" . }}
  labels:
    {{- include "odoo.labels" . | nindent 4 }}
spec:
  type: {{ .Values.service.type }}
  ports:
  - port: {{ .Values.service.port }}
    targetPort: http
    protocol: TCP
    name: http
  {{- if .Values.odoo.debug.enabled }}
  - port: {{ .Values.service.debugPort }}
    targetPort: debug
    protocol: TCP
    name: debug
  {{- end }}
  selector:
    {{- include "odoo.selectorLabels" . | nindent 4 }}
